In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

import ipywidgets as widgets
from ipywidgets import interact, interactive, fixed, interact_manual

%matplotlib inline
%config InlineBackend.figure_format='retina'

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
print(f'pandas   version: {pd.__version__}')
print(f'seaborn  version: {sns.__version__}')

pandas   version: 1.0.3
seaborn  version: 0.10.0

In [4]:
pd.Timestamp.now()

Timestamp('2020-04-21 11:18:37.524473')

## read data from github

In [5]:
path='https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_'
# path='https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
status=['Confirmed', 'Deaths', 'Recovered']
dfs=[] # list contains serveral dataframes
for s in status:
#     print(f'{path}{s.lower()}_global.csv')
    d=pd.read_csv(f'{path}{s.lower()}_global.csv')
    dfs.append(d)
dfs

[                Province/State         Country/Region        Lat       Long  \
 0                          NaN            Afghanistan  33.000000  65.000000
 1                          NaN                Albania  41.153300  20.168300
 2                          NaN                Algeria  28.033900   1.659600
 3                          NaN                Andorra  42.506300   1.521800
 4                          NaN                 Angola -11.202700  17.873900
 ..                         ...                    ...        ...        ...
 259  Saint Pierre and Miquelon                 France  46.885200 -56.315900
 260                        NaN            South Sudan   6.877000  31.307000
 261                        NaN         Western Sahara  24.215500 -12.885800
 262                        NaN  Sao Tome and Principe   0.186360   6.613081
 263                        NaN                  Yemen  15.552727  48.516388

      1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  4/11/20  \
 0          0        0        0        0        0        0  ...      555
 1          0        0        0        0        0        0  ...      433
 2          0        0        0        0        0        0  ...     1825
 3          0        0        0        0        0        0  ...      601
 4          0        0        0        0        0        0  ...       19
 ..       ...      ...      ...      ...      ...      ...  ...      ...
 259        0        0        0        0        0        0  ...        1
 260        0        0        0        0        0        0  ...        4
 261        0        0        0        0        0        0  ...        4
 262        0        0        0        0        0        0  ...        4
 263        0        0        0        0        0        0  ...        1

      4/12/20  4/13/20  4/14/20  4/15/20  4/16/20  4/17/20  4/18/20  4/19/20  \
 0        607      665      714      784      840      906      933      996
 1        446      467      475      494      518      539      548      562
 2       1914     1983     2070     2160     2268     2418     2534     2629
 3        638      646      659      673      673      696      704      713
 4         19       19       19       19       19       19       24       24
 ..       ...      ...      ...      ...      ...      ...      ...      ...
 259        1        1        1        1        1        1        1        1
 260        4        4        4        4        4        4        4        4
 261        6        6        6        6        6        6        6        6
 262        4        4        4        4        4        4        4        4
 263        1        1        1        1        1        1        1        1

      4/20/20
 0       1026
 1        584
 2       2718
 3        717
 4         24
 ..       ...
 259        1
 260        4
 261        6
 262        4
 263        1

 [264 rows x 94 columns],
                 Province/State         Country/Region        Lat       Long  \
 0                          NaN            Afghanistan  33.000000  65.000000
 1                          NaN                Albania  41.153300  20.168300
 2                          NaN                Algeria  28.033900   1.659600
 3                          NaN                Andorra  42.506300   1.521800
 4                          NaN                 Angola -11.202700  17.873900
 ..                         ...                    ...        ...        ...
 259  Saint Pierre and Miquelon                 France  46.885200 -56.315900
 260                        NaN            South Sudan   6.877000  31.307000
 261                        NaN         Western Sahara  24.215500 -12.885800
 262                        NaN  Sao Tome and Principe   0.186360   6.613081
 263                        NaN                  Yemen  15.552727  48.516388

      1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  4/11/20  \
 0          0        0        0        0        0        0  ...       18
 1          0        0        0        0        0        0  ...       23
 2          0        0        0        0        0        0  ...      275
 3          0        0        0        0        0        0  ...       26
 4          0        0        0        0        0        0  ...        2
 ..       ...      ...      ...      ...      ...      ...  ...      ...
 259        0        0        0        0        0        0  ...        0
 260        0        0        0        0        0        0  ...        0
 261        0        0        0        0        0        0  ...        0
 262        0        0        0        0        0        0  ...        0
 263        0        0        0        0        0        0  ...        0

      4/12/20  4/13/20  4/14/20  4/15/20  4/16/20  4/17/20  4/18/20  4/19/20  \
 0         18       21       23       25       30       30       30       33
 1         23       23       24       25       26       26       26       26
 2        293      313      326      336      348      364      367      375
 3         29       29       31       33       33       35       35       36
 4          2        2        2        2        2        2        2        2
 ..       ...      ...      ...      ...      ...      ...      ...      ...
 259        0        0        0        0        0        0        0        0
 260        0        0        0        0        0        0        0        0
 261        0        0        0        0        0        0        0        0
 262        0        0        0        0        0        0        0        0
 263        0        0        0        0        0        0        0        0

      4/20/20
 0         36
 1         26
 2        384
 3         37
 4          2
 ..       ...
 259        0
 260        0
 261        0
 262        0
 263        0

 [264 rows x 94 columns],
                 Province/State         Country/Region        Lat       Long  \
 0                          NaN            Afghanistan  33.000000  65.000000
 1                          NaN                Albania  41.153300  20.168300
 2                          NaN                Algeria  28.033900   1.659600
 3                          NaN                Andorra  42.506300   1.521800
 4                          NaN                 Angola -11.202700  17.873900
 ..                         ...                    ...        ...        ...
 245  Saint Pierre and Miquelon                 France  46.885200 -56.315900
 246                        NaN            South Sudan   6.877000  31.307000
 247                        NaN         Western Sahara  24.215500 -12.885800
 248                        NaN  Sao Tome and Principe   0.186360   6.613081
 249                        NaN                  Yemen  15.552727  48.516388

      1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  4/11/20  \
 0          0        0        0        0        0        0  ...       32
 1          0        0        0        0        0        0  ...      197
 2          0        0        0        0        0        0  ...      460
 3          0        0        0        0        0        0  ...       71
 4          0        0        0        0        0        0  ...        4
 ..       ...      ...      ...      ...      ...      ...  ...      ...
 245        0        0        0        0        0        0  ...        0
 246        0        0        0        0        0        0  ...        0
 247        0        0        0        0        0        0  ...        0
 248        0        0        0        0        0        0  ...        0
 249        0        0        0        0        0        0  ...        0

      4/12/20  4/13/20  4/14/20  4/15/20  4/16/20  4/17/20  4/18/20  4/19/20  \
 0         32       32       40       43       54       99      112      131
 1        217      232      248      251      277      283      302      314
 2        591      601      691      708      783      846      894     1047
 3        128      128      128      169      169      191      205      235
 4          4        4        5        5        5        5        6        6
 ..       ...      ...      ...      ...      ...      ...      ...      ...
 245        0        0        0        0        0        0        0        0
 246        0        0        0        0        0        0        0        0
 247        0        0        0        0        0        0        0        0
 248        0        0        0        0        0        0        0        0
 249        0        0        0        0        0        0        0        0

      4/20/20
 0        135
 1        327
 2       1099
 3        248
 4          6
 ..       ...
 245        0
 246        0
 247        0
 248        0
 249        0

 [250 rows x 94 columns]]

In [6]:
dfs[0]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,555,607,665,714,784,840,906,933,996,1026
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,433,446,467,475,494,518,539,548,562,584
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,1825,1914,1983,2070,2160,2268,2418,2534,2629,2718
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,601,638,646,659,673,673,696,704,713,717
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,19,19,19,19,19,19,19,24,24,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Saint Pierre and Miquelon,France,46.885200,-56.315900,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
260,NaN,South Sudan,6.877000,31.307000,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4
261,NaN,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,...,4,6,6,6,6,6,6,6,6,6
262,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4
263,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1

In [7]:
dfs[1]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,18,18,21,23,25,30,30,30,33,36
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,23,23,23,24,25,26,26,26,26,26
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,275,293,313,326,336,348,364,367,375,384
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,26,29,29,31,33,33,35,35,36,37
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Saint Pierre and Miquelon,France,46.885200,-56.315900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
260,NaN,South Sudan,6.877000,31.307000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
261,NaN,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
262,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
263,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### append data

In [8]:
df=pd.concat(dfs, keys=status)
df

                          Province/State         Country/Region        Lat  \
Confirmed 0                          NaN            Afghanistan  33.000000
          1                          NaN                Albania  41.153300
          2                          NaN                Algeria  28.033900
          3                          NaN                Andorra  42.506300
          4                          NaN                 Angola -11.202700
...                                  ...                    ...        ...
Recovered 245  Saint Pierre and Miquelon                 France  46.885200
          246                        NaN            South Sudan   6.877000
          247                        NaN         Western Sahara  24.215500
          248                        NaN  Sao Tome and Principe   0.186360
          249                        NaN                  Yemen  15.552727

                    Long  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
Confirmed 0    65.000000        0        0        0        0        0
          1    20.168300        0        0        0        0        0
          2     1.659600        0        0        0        0        0
          3     1.521800        0        0        0        0        0
          4    17.873900        0        0        0        0        0
...                  ...      ...      ...      ...      ...      ...
Recovered 245 -56.315900        0        0        0        0        0
          246  31.307000        0        0        0        0        0
          247 -12.885800        0        0        0        0        0
          248   6.613081        0        0        0        0        0
          249  48.516388        0        0        0        0        0

               1/27/20  ...  4/11/20  4/12/20  4/13/20  4/14/20  4/15/20  \
Confirmed 0          0  ...      555      607      665      714      784
          1          0  ...      433      446      467      475      494
          2          0  ...     1825     1914     1983     2070     2160
          3          0  ...      601      638      646      659      673
          4          0  ...       19       19       19       19       19
...                ...  ...      ...      ...      ...      ...      ...
Recovered 245        0  ...        0        0        0        0        0
          246        0  ...        0        0        0        0        0
          247        0  ...        0        0        0        0        0
          248        0  ...        0        0        0        0        0
          249        0  ...        0        0        0        0        0

               4/16/20  4/17/20  4/18/20  4/19/20  4/20/20
Confirmed 0        840      906      933      996     1026
          1        518      539      548      562      584
          2       2268     2418     2534     2629     2718
          3        673      696      704      713      717
          4         19       19       24       24       24
...                ...      ...      ...      ...      ...
Recovered 245        0        0        0        0        0
          246        0        0        0        0        0
          247        0        0        0        0        0
          248        0        0        0        0        0
          249        0        0        0        0        0

[778 rows x 94 columns]

In [9]:
df.loc['Deaths']

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,18,18,21,23,25,30,30,30,33,36
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,23,23,23,24,25,26,26,26,26,26
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,275,293,313,326,336,348,364,367,375,384
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,26,29,29,31,33,33,35,35,36,37
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Saint Pierre and Miquelon,France,46.885200,-56.315900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
260,NaN,South Sudan,6.877000,31.307000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
261,NaN,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
262,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
263,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
df.loc['Recovered']

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,32,32,32,40,43,54,99,112,131,135
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,197,217,232,248,251,277,283,302,314,327
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,460,591,601,691,708,783,846,894,1047,1099
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,71,128,128,128,169,169,191,205,235,248
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,4,4,4,5,5,5,5,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,Saint Pierre and Miquelon,France,46.885200,-56.315900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
246,NaN,South Sudan,6.877000,31.307000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
247,NaN,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
248,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
249,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### unpivot/melt data

In [11]:
df.loc['Confirmed']

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,555,607,665,714,784,840,906,933,996,1026
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,433,446,467,475,494,518,539,548,562,584
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,1825,1914,1983,2070,2160,2268,2418,2534,2629,2718
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,601,638,646,659,673,673,696,704,713,717
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,19,19,19,19,19,19,19,24,24,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Saint Pierre and Miquelon,France,46.885200,-56.315900,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
260,NaN,South Sudan,6.877000,31.307000,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4
261,NaN,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,...,4,6,6,6,6,6,6,6,6,6
262,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4
263,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1

In [12]:
pd.melt(df.loc['Recovered'], 
            id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
            var_name='Date', value_name='Confirmed')

,Province/State,Country/Region,Lat,Long,Date,Confirmed
0,NaN,Afghanistan,33.000000,65.000000,1/22/20,0
1,NaN,Albania,41.153300,20.168300,1/22/20,0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0
...,...,...,...,...,...,...
22495,Saint Pierre and Miquelon,France,46.885200,-56.315900,4/20/20,0
22496,NaN,South Sudan,6.877000,31.307000,4/20/20,0
22497,NaN,Western Sahara,24.215500,-12.885800,4/20/20,0
22498,NaN,Sao Tome and Principe,0.186360,6.613081,4/20/20,0
22499,NaN,Yemen,15.552727,48.516388,4/20/20,0

In [13]:
dtmps=[]
for k in status:
    dtmps.append(pd.melt(df.loc[k], 
            id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
            var_name='Date', value_name=k))

In [14]:
dtmps

[                  Province/State         Country/Region        Lat       Long  \
 0                            NaN            Afghanistan  33.000000  65.000000
 1                            NaN                Albania  41.153300  20.168300
 2                            NaN                Algeria  28.033900   1.659600
 3                            NaN                Andorra  42.506300   1.521800
 4                            NaN                 Angola -11.202700  17.873900
 ...                          ...                    ...        ...        ...
 23755  Saint Pierre and Miquelon                 France  46.885200 -56.315900
 23756                        NaN            South Sudan   6.877000  31.307000
 23757                        NaN         Western Sahara  24.215500 -12.885800
 23758                        NaN  Sao Tome and Principe   0.186360   6.613081
 23759                        NaN                  Yemen  15.552727  48.516388

           Date  Confirmed
 0      1/22/20          0
 1      1/22/20          0
 2      1/22/20          0
 3      1/22/20          0
 4      1/22/20          0
 ...        ...        ...
 23755  4/20/20          1
 23756  4/20/20          4
 23757  4/20/20          6
 23758  4/20/20          4
 23759  4/20/20          1

 [23760 rows x 6 columns],
                   Province/State         Country/Region        Lat       Long  \
 0                            NaN            Afghanistan  33.000000  65.000000
 1                            NaN                Albania  41.153300  20.168300
 2                            NaN                Algeria  28.033900   1.659600
 3                            NaN                Andorra  42.506300   1.521800
 4                            NaN                 Angola -11.202700  17.873900
 ...                          ...                    ...        ...        ...
 23755  Saint Pierre and Miquelon                 France  46.885200 -56.315900
 23756                        NaN            South Sudan   6.877000  31.307000
 23757                        NaN         Western Sahara  24.215500 -12.885800
 23758                        NaN  Sao Tome and Principe   0.186360   6.613081
 23759                        NaN                  Yemen  15.552727  48.516388

           Date  Deaths
 0      1/22/20       0
 1      1/22/20       0
 2      1/22/20       0
 3      1/22/20       0
 4      1/22/20       0
 ...        ...     ...
 23755  4/20/20       0
 23756  4/20/20       0
 23757  4/20/20       0
 23758  4/20/20       0
 23759  4/20/20       0

 [23760 rows x 6 columns],
                   Province/State         Country/Region        Lat       Long  \
 0                            NaN            Afghanistan  33.000000  65.000000
 1                            NaN                Albania  41.153300  20.168300
 2                            NaN                Algeria  28.033900   1.659600
 3                            NaN                Andorra  42.506300   1.521800
 4                            NaN                 Angola -11.202700  17.873900
 ...                          ...                    ...        ...        ...
 22495  Saint Pierre and Miquelon                 France  46.885200 -56.315900
 22496                        NaN            South Sudan   6.877000  31.307000
 22497                        NaN         Western Sahara  24.215500 -12.885800
 22498                        NaN  Sao Tome and Principe   0.186360   6.613081
 22499                        NaN                  Yemen  15.552727  48.516388

           Date  Recovered
 0      1/22/20          0
 1      1/22/20          0
 2      1/22/20          0
 3      1/22/20          0
 4      1/22/20          0
 ...        ...        ...
 22495  4/20/20          0
 22496  4/20/20          0
 22497  4/20/20          0
 22498  4/20/20          0
 22499  4/20/20          0

 [22500 rows x 6 columns]]

In [15]:
dtmps[1]

,Province/State,Country/Region,Lat,Long,Date,Deaths
0,NaN,Afghanistan,33.000000,65.000000,1/22/20,0
1,NaN,Albania,41.153300,20.168300,1/22/20,0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0
...,...,...,...,...,...,...
23755,Saint Pierre and Miquelon,France,46.885200,-56.315900,4/20/20,0
23756,NaN,South Sudan,6.877000,31.307000,4/20/20,0
23757,NaN,Western Sahara,24.215500,-12.885800,4/20/20,0
23758,NaN,Sao Tome and Principe,0.186360,6.613081,4/20/20,0
23759,NaN,Yemen,15.552727,48.516388,4/20/20,0

In [16]:
dx=[d.set_index(['Province/State', 'Country/Region', 'Date']) for d in dtmps]
dcovid=pd.concat(dx, axis=1)
dcovid.reset_index(inplace=True)

In [17]:
dcovid

,Province/State,Country/Region,Date,Lat,Long,Confirmed,Lat,Long,Deaths,Lat,Long,Recovered
0,NaN,Afghanistan,1/22/20,33.0000,65.0000,0.0,33.0000,65.0000,0.0,33.0000,65.0000,0
1,NaN,Albania,1/22/20,41.1533,20.1683,0.0,41.1533,20.1683,0.0,41.1533,20.1683,0
2,NaN,Algeria,1/22/20,28.0339,1.6596,0.0,28.0339,1.6596,0.0,28.0339,1.6596,0
3,NaN,Andorra,1/22/20,42.5063,1.5218,0.0,42.5063,1.5218,0.0,42.5063,1.5218,0
4,NaN,Angola,1/22/20,-11.2027,17.8739,0.0,-11.2027,17.8739,0.0,-11.2027,17.8739,0
...,...,...,...,...,...,...,...,...,...,...,...,...
23845,NaN,Canada,4/16/20,NaN,NaN,NaN,NaN,NaN,NaN,56.1304,-106.3468,9698
23846,NaN,Canada,4/17/20,NaN,NaN,NaN,NaN,NaN,NaN,56.1304,-106.3468,10545
23847,NaN,Canada,4/18/20,NaN,NaN,NaN,NaN,NaN,NaN,56.1304,-106.3468,10964
23848,NaN,Canada,4/19/20,NaN,NaN,NaN,NaN,NaN,NaN,56.1304,-106.3468,11847
23849,NaN,Canada,4/20/20,NaN,NaN,NaN,NaN,NaN,NaN,56.1304,-106.3468,12543

### remove duplicated columns

In [18]:
dcovid.columns

Index(['Province/State', 'Country/Region', 'Date', 'Lat', 'Long', 'Confirmed',
       'Lat', 'Long', 'Deaths', 'Lat', 'Long', 'Recovered'],
      dtype='object')

In [19]:
dcovid.columns

Index(['Province/State', 'Country/Region', 'Date', 'Lat', 'Long', 'Confirmed',
       'Lat', 'Long', 'Deaths', 'Lat', 'Long', 'Recovered'],
      dtype='object')

In [20]:
dcovid.columns.duplicated()

array([False, False, False, False, False, False,  True,  True, False,
        True,  True, False])

In [21]:
dcovid=dcovid.loc[:, ~dcovid.columns.duplicated()]
dcovid

,Province/State,Country/Region,Date,Lat,Long,Confirmed,Deaths,Recovered
0,NaN,Afghanistan,1/22/20,33.0000,65.0000,0.0,0.0,0
1,NaN,Albania,1/22/20,41.1533,20.1683,0.0,0.0,0
2,NaN,Algeria,1/22/20,28.0339,1.6596,0.0,0.0,0
3,NaN,Andorra,1/22/20,42.5063,1.5218,0.0,0.0,0
4,NaN,Angola,1/22/20,-11.2027,17.8739,0.0,0.0,0
...,...,...,...,...,...,...,...,...
23845,NaN,Canada,4/16/20,NaN,NaN,NaN,NaN,9698
23846,NaN,Canada,4/17/20,NaN,NaN,NaN,NaN,10545
23847,NaN,Canada,4/18/20,NaN,NaN,NaN,NaN,10964
23848,NaN,Canada,4/19/20,NaN,NaN,NaN,NaN,11847
23849,NaN,Canada,4/20/20,NaN,NaN,NaN,NaN,12543

In [22]:
dcovid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23850 entries, 0 to 23849
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  7380 non-null   object
 1   Country/Region  23850 non-null  object
 2   Date            23850 non-null  object
 3   Lat             23760 non-null  float64
 4   Long            23760 non-null  float64
 5   Confirmed       23760 non-null  float64
 6   Deaths          23760 non-null  float64
 7   Recovered       23850 non-null  int64
dtypes: float64(4), int64(1), object(3)
memory usage: 1.5+ MB

### convert date data type

In [23]:
dcovid['Date']=pd.to_datetime(dcovid['Date'])
# dcovid.loc[:, 'Date']=pd.to_datetime(dcovid['Date'])

In [24]:
dcovid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23850 entries, 0 to 23849
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  7380 non-null   object
 1   Country/Region  23850 non-null  object
 2   Date            23850 non-null  datetime64[ns]
 3   Lat             23760 non-null  float64
 4   Long            23760 non-null  float64
 5   Confirmed       23760 non-null  float64
 6   Deaths          23760 non-null  float64
 7   Recovered       23850 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(1), object(2)
memory usage: 1.5+ MB

In [25]:
dcovid.head()

,Province/State,Country/Region,Date,Lat,Long,Confirmed,Deaths,Recovered
0,NaN,Afghanistan,2020-01-22,33.0000,65.0000,0.0,0.0,0
1,NaN,Albania,2020-01-22,41.1533,20.1683,0.0,0.0,0
2,NaN,Algeria,2020-01-22,28.0339,1.6596,0.0,0.0,0
3,NaN,Andorra,2020-01-22,42.5063,1.5218,0.0,0.0,0
4,NaN,Angola,2020-01-22,-11.2027,17.8739,0.0,0.0,0

In [26]:
dcovid=dcovid.sort_values(['Country/Region', 'Province/State', 'Date']).reset_index(drop=True)
dcovid

,Province/State,Country/Region,Date,Lat,Long,Confirmed,Deaths,Recovered
0,NaN,Afghanistan,2020-01-22,33.0,65.0,0.0,0.0,0
1,NaN,Afghanistan,2020-01-23,33.0,65.0,0.0,0.0,0
2,NaN,Afghanistan,2020-01-24,33.0,65.0,0.0,0.0,0
3,NaN,Afghanistan,2020-01-25,33.0,65.0,0.0,0.0,0
4,NaN,Afghanistan,2020-01-26,33.0,65.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...
23845,NaN,Zimbabwe,2020-04-16,-20.0,30.0,23.0,3.0,1
23846,NaN,Zimbabwe,2020-04-17,-20.0,30.0,24.0,3.0,2
23847,NaN,Zimbabwe,2020-04-18,-20.0,30.0,25.0,3.0,2
23848,NaN,Zimbabwe,2020-04-19,-20.0,30.0,25.0,3.0,2
23849,NaN,Zimbabwe,2020-04-20,-20.0,30.0,25.0,3.0,2

In [27]:
pd.set_option('display.max_rows', 100)

In [28]:
dcovid[dcovid['Country/Region']=='Thailand']

,Province/State,Country/Region,Date,Lat,Long,Confirmed,Deaths,Recovered
21150,NaN,Thailand,2020-01-22,15.0,101.0,2.0,0.0,0
21151,NaN,Thailand,2020-01-23,15.0,101.0,3.0,0.0,0
21152,NaN,Thailand,2020-01-24,15.0,101.0,5.0,0.0,0
21153,NaN,Thailand,2020-01-25,15.0,101.0,7.0,0.0,0
21154,NaN,Thailand,2020-01-26,15.0,101.0,8.0,0.0,2
21155,NaN,Thailand,2020-01-27,15.0,101.0,8.0,0.0,2
21156,NaN,Thailand,2020-01-28,15.0,101.0,14.0,0.0,5
21157,NaN,Thailand,2020-01-29,15.0,101.0,14.0,0.0,5
21158,NaN,Thailand,2020-01-30,15.0,101.0,14.0,0.0,5
21159,NaN,Thailand,2020-01-31,15.0,101.0,19.0,0.0,5
21160,NaN,Thailand,2020-02-01,15.0,101.0,19.0,0.0,5
21161,NaN,Thailand,2020-02-02,15.0,101.0,19.0,0.0,5
21162,NaN,Thailand,2020-02-03,15.0,101.0,19.0,0.0,5
21163,NaN,Thailand,2020-02-04,15.0,101.0,25.0,0.0,5
21164,NaN,Thailand,2020-02-05,15.0,101.0,25.0,0.0,5
21165,NaN,Thailand,2020-02-06,15.0,101.0,25.0,0.0,5
21166,NaN,Thailand,2020-02-07,15.0,101.0,25.0,0.0,5
21167,NaN,Thailand,2020-02-08,15.0,101.0,32.0,0.0,10
21168,NaN,Thailand,2020-02-09,15.0,101.0,32.0,0.0,10
21169,NaN,Thailand,2020-02-10,15.0,101.0,32.0,0.0,10
21170,NaN,Thailand,2020-02-11,15.0,101.0,33.0,0.0,10
21171,NaN,Thailand,2020-02-12,15.0,101.0,33.0,0.0,10
21172,NaN,Thailand,2020-02-13,15.0,101.0,33.0,0.0,12
21173,NaN,Thailand,2020-02-14,15.0,101.0,33.0,0.0,12
21174,NaN,Thailand,2020-02-15,15.0,101.0,33.0,0.0,12
21175,NaN,Thailand,2020-02-16,15.0,101.0,34.0,0.0,14
21176,NaN,Thailand,2020-02-17,15.0,101.0,35.0,0.0,15
21177,NaN,Thailand,2020-02-18,15.0,101.0,35.0,0.0,15
21178,NaN,Thailand,2020-02-19,15.0,101.0,35.0,0.0,15
21179,NaN,Thailand,2020-02-20,15.0,101.0,35.0,0.0,15
21180,NaN,Thailand,2020-02-21,15.0,101.0,35.0,0.0,17
21181,NaN,Thailand,2020-02-22,15.0,101.0,35.0,0.0,17
21182,NaN,Thailand,2020-02-23,15.0,101.0,35.0,0.0,21
21183,NaN,Thailand,2020-02-24,15.0,101.0,35.0,0.0,21
21184,NaN,Thailand,2020-02-25,15.0,101.0,37.0,0.0,22
21185,NaN,Thailand,2020-02-26,15.0,101.0,40.0,0.0,22
21186,NaN,Thailand,2020-02-27,15.0,101.0,40.0,0.0,22
21187,NaN,Thailand,2020-02-28,15.0,101.0,41.0,0.0,28
21188,NaN,Thailand,2020-02-29,15.0,101.0,42.0,0.0,28
21189,NaN,Thailand,2020-03-01,15.0,101.0,42.0,1.0,28
21190,NaN,Thailand,2020-03-02,15.0,101.0,43.0,1.0,31
21191,NaN,Thailand,2020-03-03,15.0,101.0,43.0,1.0,31
21192,NaN,Thailand,2020-03-04,15.0,101.0,43.0,1.0,31
21193,NaN,Thailand,2020-03-05,15.0,101.0,47.0,1.0,31
21194,NaN,Thailand,2020-03-06,15.0,101.0,48.0,1.0,31
21195,NaN,Thailand,2020-03-07,15.0,101.0,50.0,1.0,31
21196,NaN,Thailand,2020-03-08,15.0,101.0,50.0,1.0,31
21197,NaN,Thailand,2020-03-09,15.0,101.0,50.0,1.0,31
21198,NaN,Thailand,2020-03-10,15.0,101.0,53.0,1.0,33
21199,NaN,Thailand,2020-03-11,15.0,101.0,59.0,1.0,34
21200,NaN,Thailand,2020-03-12,15.0,101.0,70.0,1.0,34
21201,NaN,Thailand,2020-03-13,15.0,101.0,75.0,1.0,35
21202,NaN,Thailand,2020-03-14,15.0,101.0,82.0,1.0,35
21203,NaN,Thailand,2020-03-15,15.0,101.0,114.0,1.0,35
21204,NaN,Thailand,2020-03-16,15.0,101.0,147.0,1.0,35
21205,NaN,Thailand,2020-03-17,15.0,101.0,177.0,1.0,41
21206,NaN,Thailand,2020-03-18,15.0,101.0,212.0,1.0,42
21207,NaN,Thailand,2020-03-19,15.0,101.0,272.0,1.0,42
21208,NaN,Thailand,2020-03-20,15.0,101.0,322.0,1.0,42
21209,NaN,Thailand,2020-03-21,15.0,101.0,411.0,1.0,42
21210,NaN,Thailand,2020-03-22,15.0,101.0,599.0,1.0,44
21211,NaN,Thailand,2020-03-23,15.0,101.0,721.0,1.0,44
21212,NaN,Thailand,2020-03-24,15.0,101.0,827.0,4.0,52
21213,NaN,Thailand,2020-03-25,15.0,101.0,934.0,4.0,70
21214,NaN,Thailand,2020-03-26,15.0,101.0,1045.0,4.0,88
21215,NaN,Thailand,2020-03-27,15.0,101.0,1136.0,5.0,97
21216,NaN,Thailand,2020-03-28,15.0,101.0,1245.0,6.0,97
21217,NaN,Thailand,2020-03-29,15.0,101.0,1388.0,7.0,97
21218,NaN,Thailand,2020-03-30,15.0,101.0,1524.0,9.0,229
21219,NaN,Thailand,2020-03-31,15.0,101.0,1651.0,10.0,342
21220,NaN,Thailand,2020-04-01,15.0,101.0,1771.0,12.0,505
21221,NaN,Thailand,2020-04-02,15.0,101.0,1875.0,15.0,505
21222,NaN,Thailand,2020-04-03,15.0,101.0,1978.0,19.0,612
21223,NaN,Thailand,2020-04-04,15.0,101.0,2067.0,20.0,674
21224,NaN,Thailand,2020-04-05,15.0,101.0,2169.0,23.0,793
21225,NaN,Thailand,2020-04-06,15.0,101.0,2220.0,26.0,793
21226,NaN,Thailand,2020-04-07,15.0,101.0,2258.0,27.0,888
21227,NaN,Thailand,2020-04-08,15.0,101.0,2369.0,30.0,888
21228,NaN,Thailand,2020-04-09,15.0,101.0,2423.0,32.0,940
21229,NaN,Thailand,2020-04-10,15.0,101.0,2473.0,33.0,1013
21230,NaN,Thailand,2020-04-11,15.0,101.0,2518.0,35.0,1135
21231,NaN,Thailand,2020-04-12,15.0,101.0,2551.0,38.0,1218
21232,NaN,Thailand,2020-04-13,15.0,101.0,2579.0,40.0,1288
21233,NaN,Thailand,2020-04-14,15.0,101.0,2613.0,41.0,1405
21234,NaN,Thailand,2020-04-15,15.0,101.0,2643.0,43.0,1497
21235,NaN,Thailand,2020-04-16,15.0,101.0,2672.0,46.0,1593
21236,NaN,Thailand,2020-04-17,15.0,101.0,2700.0,47.0,1689
21237,NaN,Thailand,2020-04-18,15.0,101.0,2733.0,47.0,1787
21238,NaN,Thailand,2020-04-19,15.0,101.0,2765.0,47.0,1928
21239,NaN,Thailand,2020-04-20,15.0,101.0,2792.0,47.0,1999

In [29]:
dcountry=dcovid.groupby(['Country/Region', 'Date']).sum()[['Confirmed', 'Deaths', 'Recovered']]
dcountry

                           Confirmed  Deaths  Recovered
Country/Region Date
Afghanistan    2020-01-22        0.0     0.0          0
               2020-01-23        0.0     0.0          0
               2020-01-24        0.0     0.0          0
               2020-01-25        0.0     0.0          0
               2020-01-26        0.0     0.0          0
...                              ...     ...        ...
Zimbabwe       2020-04-16       23.0     3.0          1
               2020-04-17       24.0     3.0          2
               2020-04-18       25.0     3.0          2
               2020-04-19       25.0     3.0          2
               2020-04-20       25.0     3.0          2

[16650 rows x 3 columns]

# Data for Thailand

In [30]:
dataThai = dcountry.loc['Thailand']
dataThai

            Confirmed  Deaths  Recovered
Date
2020-01-22        2.0     0.0          0
2020-01-23        3.0     0.0          0
2020-01-24        5.0     0.0          0
2020-01-25        7.0     0.0          0
2020-01-26        8.0     0.0          2
2020-01-27        8.0     0.0          2
2020-01-28       14.0     0.0          5
2020-01-29       14.0     0.0          5
2020-01-30       14.0     0.0          5
2020-01-31       19.0     0.0          5
2020-02-01       19.0     0.0          5
2020-02-02       19.0     0.0          5
2020-02-03       19.0     0.0          5
2020-02-04       25.0     0.0          5
2020-02-05       25.0     0.0          5
2020-02-06       25.0     0.0          5
2020-02-07       25.0     0.0          5
2020-02-08       32.0     0.0         10
2020-02-09       32.0     0.0         10
2020-02-10       32.0     0.0         10
2020-02-11       33.0     0.0         10
2020-02-12       33.0     0.0         10
2020-02-13       33.0     0.0         12
2020-02-14       33.0     0.0         12
2020-02-15       33.0     0.0         12
2020-02-16       34.0     0.0         14
2020-02-17       35.0     0.0         15
2020-02-18       35.0     0.0         15
2020-02-19       35.0     0.0         15
2020-02-20       35.0     0.0         15
2020-02-21       35.0     0.0         17
2020-02-22       35.0     0.0         17
2020-02-23       35.0     0.0         21
2020-02-24       35.0     0.0         21
2020-02-25       37.0     0.0         22
2020-02-26       40.0     0.0         22
2020-02-27       40.0     0.0         22
2020-02-28       41.0     0.0         28
2020-02-29       42.0     0.0         28
2020-03-01       42.0     1.0         28
2020-03-02       43.0     1.0         31
2020-03-03       43.0     1.0         31
2020-03-04       43.0     1.0         31
2020-03-05       47.0     1.0         31
2020-03-06       48.0     1.0         31
2020-03-07       50.0     1.0         31
2020-03-08       50.0     1.0         31
2020-03-09       50.0     1.0         31
2020-03-10       53.0     1.0         33
2020-03-11       59.0     1.0         34
2020-03-12       70.0     1.0         34
2020-03-13       75.0     1.0         35
2020-03-14       82.0     1.0         35
2020-03-15      114.0     1.0         35
2020-03-16      147.0     1.0         35
2020-03-17      177.0     1.0         41
2020-03-18      212.0     1.0         42
2020-03-19      272.0     1.0         42
2020-03-20      322.0     1.0         42
2020-03-21      411.0     1.0         42
2020-03-22      599.0     1.0         44
2020-03-23      721.0     1.0         44
2020-03-24      827.0     4.0         52
2020-03-25      934.0     4.0         70
2020-03-26     1045.0     4.0         88
2020-03-27     1136.0     5.0         97
2020-03-28     1245.0     6.0         97
2020-03-29     1388.0     7.0         97
2020-03-30     1524.0     9.0        229
2020-03-31     1651.0    10.0        342
2020-04-01     1771.0    12.0        505
2020-04-02     1875.0    15.0        505
2020-04-03     1978.0    19.0        612
2020-04-04     2067.0    20.0        674
2020-04-05     2169.0    23.0        793
2020-04-06     2220.0    26.0        793
2020-04-07     2258.0    27.0        888
2020-04-08     2369.0    30.0        888
2020-04-09     2423.0    32.0        940
2020-04-10     2473.0    33.0       1013
2020-04-11     2518.0    35.0       1135
2020-04-12     2551.0    38.0       1218
2020-04-13     2579.0    40.0       1288
2020-04-14     2613.0    41.0       1405
2020-04-15     2643.0    43.0       1497
2020-04-16     2672.0    46.0       1593
2020-04-17     2700.0    47.0       1689
2020-04-18     2733.0    47.0       1787
2020-04-19     2765.0    47.0       1928
2020-04-20     2792.0    47.0       1999

In [31]:
dcountry.loc[('Thailand', '2020-03-22')]

Confirmed    599.0
Deaths         1.0
Recovered     44.0
Name: (Thailand, 2020-03-22 00:00:00), dtype: float64

In [32]:
dcountry['daily_new_patient']=dcountry.groupby(['Country/Region'])['Confirmed'].diff()
dcountry['daily_new_patient_pct']=dcountry.groupby(['Country/Region'])['Confirmed'].pct_change()

In [33]:
dataThai_sum = dcountry.loc['Thailand']
dataThai_sum

,Confirmed,Deaths,Recovered,daily_new_patient,daily_new_patient_pct
Date,,,,,
2020-01-22,2.0,0.0,0,NaN,NaN
2020-01-23,3.0,0.0,0,1.0,0.500000
2020-01-24,5.0,0.0,0,2.0,0.666667
2020-01-25,7.0,0.0,0,2.0,0.400000
2020-01-26,8.0,0.0,2,1.0,0.142857
2020-01-27,8.0,0.0,2,0.0,0.000000
2020-01-28,14.0,0.0,5,6.0,0.750000
2020-01-29,14.0,0.0,5,0.0,0.000000
2020-01-30,14.0,0.0,5,0.0,0.000000
2020-01-31,19.0,0.0,5,5.0,0.357143
2020-02-01,19.0,0.0,5,0.0,0.000000
2020-02-02,19.0,0.0,5,0.0,0.000000
2020-02-03,19.0,0.0,5,0.0,0.000000
2020-02-04,25.0,0.0,5,6.0,0.315789
2020-02-05,25.0,0.0,5,0.0,0.000000
2020-02-06,25.0,0.0,5,0.0,0.000000
2020-02-07,25.0,0.0,5,0.0,0.000000
2020-02-08,32.0,0.0,10,7.0,0.280000
2020-02-09,32.0,0.0,10,0.0,0.000000
2020-02-10,32.0,0.0,10,0.0,0.000000
2020-02-11,33.0,0.0,10,1.0,0.031250
2020-02-12,33.0,0.0,10,0.0,0.000000
2020-02-13,33.0,0.0,12,0.0,0.000000
2020-02-14,33.0,0.0,12,0.0,0.000000
2020-02-15,33.0,0.0,12,0.0,0.000000
2020-02-16,34.0,0.0,14,1.0,0.030303
2020-02-17,35.0,0.0,15,1.0,0.029412
2020-02-18,35.0,0.0,15,0.0,0.000000
2020-02-19,35.0,0.0,15,0.0,0.000000
2020-02-20,35.0,0.0,15,0.0,0.000000
2020-02-21,35.0,0.0,17,0.0,0.000000
2020-02-22,35.0,0.0,17,0.0,0.000000
2020-02-23,35.0,0.0,21,0.0,0.000000
2020-02-24,35.0,0.0,21,0.0,0.000000
2020-02-25,37.0,0.0,22,2.0,0.057143
2020-02-26,40.0,0.0,22,3.0,0.081081
2020-02-27,40.0,0.0,22,0.0,0.000000
2020-02-28,41.0,0.0,28,1.0,0.025000
2020-02-29,42.0,0.0,28,1.0,0.024390
2020-03-01,42.0,1.0,28,0.0,0.000000
2020-03-02,43.0,1.0,31,1.0,0.023810
2020-03-03,43.0,1.0,31,0.0,0.000000
2020-03-04,43.0,1.0,31,0.0,0.000000
2020-03-05,47.0,1.0,31,4.0,0.093023
2020-03-06,48.0,1.0,31,1.0,0.021277
2020-03-07,50.0,1.0,31,2.0,0.041667
2020-03-08,50.0,1.0,31,0.0,0.000000
2020-03-09,50.0,1.0,31,0.0,0.000000
2020-03-10,53.0,1.0,33,3.0,0.060000
2020-03-11,59.0,1.0,34,6.0,0.113208
2020-03-12,70.0,1.0,34,11.0,0.186441
2020-03-13,75.0,1.0,35,5.0,0.071429
2020-03-14,82.0,1.0,35,7.0,0.093333
2020-03-15,114.0,1.0,35,32.0,0.390244
2020-03-16,147.0,1.0,35,33.0,0.289474
2020-03-17,177.0,1.0,41,30.0,0.204082
2020-03-18,212.0,1.0,42,35.0,0.197740
2020-03-19,272.0,1.0,42,60.0,0.283019
2020-03-20,322.0,1.0,42,50.0,0.183824
2020-03-21,411.0,1.0,42,89.0,0.276398
2020-03-22,599.0,1.0,44,188.0,0.457421
2020-03-23,721.0,1.0,44,122.0,0.203673
2020-03-24,827.0,4.0,52,106.0,0.147018
2020-03-25,934.0,4.0,70,107.0,0.129383
2020-03-26,1045.0,4.0,88,111.0,0.118844
2020-03-27,1136.0,5.0,97,91.0,0.087081
2020-03-28,1245.0,6.0,97,109.0,0.095951
2020-03-29,1388.0,7.0,97,143.0,0.114859
2020-03-30,1524.0,9.0,229,136.0,0.097983
2020-03-31,1651.0,10.0,342,127.0,0.083333
2020-04-01,1771.0,12.0,505,120.0,0.072683
2020-04-02,1875.0,15.0,505,104.0,0.058724
2020-04-03,1978.0,19.0,612,103.0,0.054933
2020-04-04,2067.0,20.0,674,89.0,0.044995
2020-04-05,2169.0,23.0,793,102.0,0.049347
2020-04-06,2220.0,26.0,793,51.0,0.023513
2020-04-07,2258.0,27.0,888,38.0,0.017117
2020-04-08,2369.0,30.0,888,111.0,0.049159
2020-04-09,2423.0,32.0,940,54.0,0.022794
2020-04-10,2473.0,33.0,1013,50.0,0.020636
2020-04-11,2518.0,35.0,1135,45.0,0.018197
2020-04-12,2551.0,38.0,1218,33.0,0.013106
2020-04-13,2579.0,40.0,1288,28.0,0.010976
2020-04-14,2613.0,41.0,1405,34.0,0.013183
2020-04-15,2643.0,43.0,1497,30.0,0.011481
2020-04-16,2672.0,46.0,1593,29.0,0.010972
2020-04-17,2700.0,47.0,1689,28.0,0.010479
2020-04-18,2733.0,47.0,1787,33.0,0.012222
2020-04-19,2765.0,47.0,1928,32.0,0.011709
2020-04-20,2792.0,47.0,1999,27.0,0.009765

In [47]:
# dataThai_sum.reset_index()
dataThai_sum.reset_index().to_csv (r'C:\Users\COM\Documents\TimeSeries\COVID-19\parameter\TEST\DataForThai.csv',index = False, header=True)

In [54]:
import pandas as pd
path = 'DataForThai.csv'
df = pd.read_csv(path)

In [59]:
type(df['Confirmed'])

pandas.core.series.Series

In [60]:
# df.index = pd.to_datetime(df.date)

AttributeError: 'DataFrame' object has no attribute 'date'